.Calendar {
  position: relative;
  width: 90%;
  margin-left: 20px;
  margin-right: 20px;
}

.app-calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  position: absolute;
  height: 100%;
  width: 100%;
  margin-top: 10px;
  border-top: 1px solid black;
}

.app-calendar > div {
  border-right: 1px solid black;
}

.gridItems {
  position: relative;
  width: 100%;
  height: 100%;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.dayName {
  font-size: 14px;
  border-bottom: 1px solid black;
}

.date {
  font-size: 14px;
  display: flex;
  justify-content: flex-end;
  margin-right: 3px;
}

.gridItems:nth-child(27) {
  color: blue;
  font-weight: bold;
}
